<p>Page <%= @id %>
<% if !(@id.to_i === 1) %>
<%= link_to "Previous Page", "/properties/"+((@id.to_i)-1).to_s %>
<% end %>
<%= link_to "Next Page", "/properties/"+((@id.to_i)+1).to_s %>
<br>
<table>
  <tr>
    <th>Public ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Images</th>
    <th>Type</th>
    <th>Location</th>
    <th>Contact Form</th>
  </tr>
  <% @propertiesArray.each do |element| %>
   <tr>
     <td><%= element.public_id %></td>
     <td><%= element.title %></td>
     <td><%= element.description %></td>
     <td><img src="<%= element.title_image_thumb %>" alt="preview property"</img></td>
     <td><%= element.type %></td>
     <td><%= element.location %></td>
     <td><%= link_to "Show", "/property/"+element.public_id %></td>
   </tr>
   <% end %>
</table>

