<div>
<p>Page <%= @id %>
<% if !(@id.to_i === 1) %>
<%= link_to "Previous Page", "/properties/"+((@id.to_i)-1).to_s %>
<% end %>
<%= link_to "Next Page", "/properties/"+((@id.to_i)+1).to_s %>
</div>
<br>
<table>
  <tr>
    <th>Public ID</th>
    <th>Title</th>
    <th>Images</th>
    <th>Type</th>
    <th>Location</th>
    <th>More info</th>
  </tr>
  <% @propertiesArray.each do |element| %>
   <tr>
     <td class="text-center"><%= element.public_id %></td>
     <td class="text-left p-5"><%= element.title %></td>
     <td class="flex justify-center"><img class="thumbnail" src="<%= element.title_image_thumb %>" alt="preview property"/></td>
     <td class="text-center"><%= element.property_type %></td>
     <td class="text-center"><%= element.location %></td>
     <td class="text-center"><%= link_to "Show", "/property/"+element.public_id %></td>
   </tr>
   <% end %>
</table>

