<div>
  <p><%= link_to "Back", root_path %></p>
</div>
<div>
  <p class="titulo">Public id</p>
  <p class="dato"><%= @property.public_id %></p>
  <p class="titulo">Title</p>
  <p class="dato"><%= @property.title %></p>
  <p class="titulo">Name</p>
  <p class="dato"><%= @property.property_type %></p>
  <p class="titulo">Location</p>
  <p class="dato"><%= @property.location.name %></p>
  <p class="titulo">Photo</p>
  <% if defined?(@property.property_images[0].url) %>
  <img src="<%= @property.property_images[0].url %>" alt="property pics"/>
  <% else %>
  <p>No photo available</p>
  <% end %>
</div>
  <%= form_with url: 'contact_request' do |form| %>
  <%= form.hidden_field :property_id, value: @property.public_id %>
  <%= form.hidden_field :source, value: 'carloso0114@mywebsite.com' %>
  <div class="flex flex-col">
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name %>  
  </div>
  <div class="flex flex-col">
  <%= form.label :phone, "Phone:" %>
  <%= form.text_field :phone %>  
  </div>
  <div class="flex flex-col">
  <%= form.label :email, "Email:" %>
  <%= form.text_field :email %>  
  </div>
  <div class="flex flex-col">
  <%= form.label :message, "Message:" %>
  <%= form.text_field :message %>  
  </div>
  <% form.text_field :property_id %> 
  <%= form.submit "Create" %>  
  <% end %>  

