<%= link_to "Back", :back %>
<table>
  <tr>
    <th>Public ID</th>
    <th>Title</th>
    <th>Images</th>
    <th>Type</th>
    <th>Location</th>
  </tr>

   <tr>
     <td><%= @property.public_id %></td>
     <td><%= @property.title %></td>
     <% @property.property_images.each do |element| %>
      <tr>
        <td><img src="<%= element.url %>" alt="preview property"</img></td>
      </tr>
      <% end %>
     <td><img src="<%= @property.title_image_thumb %>" alt="preview property"</img></td>
     <td><%= @property.property_type %></td>
     <td><%= @property.location.name %></td>
   </tr>
</table>